@model Banco_Amigo.Models.ba_persona

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ba_persona</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.pe_cedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pe_cedula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pe_nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pe_nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pe_apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pe_apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pe_fecha_nacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pe_fecha_nacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pe_direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pe_direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pe_sexo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pe_sexo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pe_correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pe_correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pe_estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pe_estado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.pe_idpersona }) |
    @Html.ActionLink("Back to List", "Index")
</p>
