@model IEnumerable<Banco_Amigo.Models.ba_persona>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.pe_cedula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pe_nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pe_apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pe_fecha_nacimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pe_direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pe_sexo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pe_correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pe_estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.pe_cedula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pe_nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pe_apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pe_fecha_nacimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pe_direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pe_sexo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pe_correo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pe_estado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.pe_idpersona }) |
            @Html.ActionLink("Details", "Details", new { id=item.pe_idpersona }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.pe_idpersona })
        </td>
    </tr>
}

</table>
